footer {
    padding-top: 1.6rem;
    background-color: #132a5a;
    color: #a7a7a7;
    font-size: 16px;
    padding: 20px;
  }
  footer * {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
  }

.wrapper{
    width: 85%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0%;
}

.col{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: rgb(236, 233, 233);
    font-size: 15px;

    
}
.col > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    gap: 0.5rem;
  }
.col > li:not(:first-child) {
    margin-top: 0.9em;

  }
.col > ul li a {
    color: rgb(236, 233, 233);
    text-decoration: none;
  }
.col > ul li a:hover {
    color: #2a8ded;
  }
.col > h2{
    margin-bottom: 15px;
    color: white;
    
}
.col > p{
    max-width: 425px;
    color: rgb(236, 233, 233);
    font-size: 15px;
    
    
  
}
.copyright {
    margin-top: 1rem;
    padding: 0.5em 1.2em;
    background-color: #172f65;
  }
 
  .copyright p {
    font-size: 12px;
    text-align: right;
  }

@media screen and (max-width: 1150px) {
   
    .col > h2{
        font-size: 15px;
    }
    
    .col > p{
        font-size: 10px; 
    }

    .col > span{
        font-size: 10px;
    }
    .col{
        padding-bottom: 1rem;
        font-size: 10px;
    }
    .wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem;
    padding-top: 1rem;
    
    }

}
